* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

body {
  font-family:sans-serif;
}

.navigation-container {
    height: 15vh;
    background-color: rgb(18,140,126);
    display: flex;
    align-items: center;
    top: 0;

    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-list {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.universe {
    margin-right: 5px;
    margin-left: 5px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 3px ;
}



.nav-item {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
}

.logo span {
    font-size: 23px;
    font-weight: bold;
}




/* Hero section */
.hero {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 15vh;
   padding: 60px 0;
}
.col-left {
    width: 50%;
    margin-right: 60px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    padding-top: 75px;
    padding-left: 275px;
}
.heading-container {
    margin-bottom: 35px;
}
.primary-heading {
    font-size: 35px;
    font-weight: 100;
}
.paragraph-container {
   margin-bottom: 35px;
}
.paragraph {
    font-weight: 100;
    letter-spacing: 1.8px;
    margin-bottom: 15px;
}
#para {
    color: rgb(182, 180, 180);
}
.col-right {
    width: 50%;
}
.col-right img {
  width: 300px;
  height: 500px;
}
.icon-item {
    width: 175px;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    color: rgb(18,140,126);
    margin-bottom: 5px;
    padding: 5px;
    font-weight: bold;
}
.icon-item span:hover {
    text-decoration: underline;
    cursor: pointer;
}
.icon {
    width: 40px;
    height: 40px;
    color: rgb(130,188,1);
}

.svg-icon {
    margin-right: 5px;
} 



.feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feature-heading {
  font-weight: 600;
  font-size: 28px;
  margin: 30px 0;
}

.feuture-paragraph {
    margin-bottom: 35px ;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}
.left-container {
    background-color: rgb(216,232,234);
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-bottom: 0;
}
.right-container {
    width: 50%;
    background-color:  rgb(231,240,228);
}

.leftToUp {
    background-color: aliceblue;
    width: 150px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    opacity: 0;
    transform: translate(60px , -50px);
    animation: leftToUp 3s infinite;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: -1;

}

@keyframes leftToUp {
    0% {
      transform: translate(-120px , 120px); 
      opacity: 1; 
    }
    70% {
      transform: translate(60px , 120px);
      opacity: 0.75;
    }
}





.feuture-paragraph {
    text-align: center;
}
.feuture-paragraph a {
    color: rgb(65, 65, 212);
}
.feuture-paragraph a:hover {
    text-decoration: underline;
}
.right-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.circle {
    width: 50%;
    height: 40%;
    background-color: rgb(119,215,200) ;
    border-radius: 100%;
    margin-bottom: -10px;
}
.security-heading {
    margin-top: 5px;
    font-size: 28px;
    letter-spacing: 2px;
}
.feature-image {
    width: 350px;
    margin-top: 20px;
}

.secondary-heading {
    margin-top: -10px;
    color: rgb(160, 155, 155);
    text-align: center;
}
.para {
    margin-top: -50px;
    padding: 0 20px;
}

.checkcout {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkcout button {
    border: none;
    background-color: transparent;
    padding: 15px;
    width: 230px;
    border: 1px rgb(18,140,126) solid;
    border-radius: 100px;
    font-size: 17px;
    color: rgb(18,140,126);
}
footer {
    background-color: rgb(39,52,67);
}
.footer {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(39,52,67);
    padding: 45px 0;
}
/* .footer ul {
    width: 80%;
    margin: auto;
} */

.footer ul li {
   color: #fff;
   margin-bottom: 8px;
   font-size: 16px;
   letter-spacing: 1px;
}
.footer ul .first-item {
    margin-bottom: 20px;
    font-weight: bold;
}

.copyright {
    background-color: rgb(28,30,33);
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
}

.copyright-text {
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-text img {
    width: 20px;
    height: 20px;
}